<#
    // all common data between assembly information and nuspec package are stored here
    var Version = "1.1";
    var Title = "Version Stitcher";
    var Company = "openstore.craponne.fr";
    var License = "MIT";
    var LicenseUrl = "https://raw.githubusercontent.com/picrap/StitcherBoy/master/LICENSE";
    var Description = "Injects version from source control information (git) based on explicit text patterns in assembly.";
#>