<#
    // all common data between assembly information and nuspec package are stored here
    var Version = "0.2.10";
    var Title = "Version Stitcher";
    var Company = "openstore.craponne.fr";
    var License = "MIT License";
    var LicenseUrl = "http://opensource.org/licenses/mit-license.php";
    var Description = "Injects version from source control information (git) based on explicit text patterns in assembly.";
#>