<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Clarius.TransformOnBuild" version="1.1.12" targetFramework="net46" developmentDependency="true" />
  <package id="LibGit2Sharp" version="0.21.0.176" targetFramework="net45" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.129" targetFramework="net45" />
  <package id="StitcherBoy" version="0.10.3" targetFramework="net45" />
</packages>