<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Blobber" version="0.8.5" targetFramework="net461" developmentDependency="true" />
  <package id="LibGit2Sharp" version="0.25.2" targetFramework="net461" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.217" targetFramework="net461" />
  <package id="StitcherBoy" version="0.10.3" targetFramework="net461" />
</packages>